<%- include('../partials/admin/header', { 
    title: 'Admin Dashboard',
    currentPage: 'dashboard',
    version: '1.0.2'
}) %>

            <h1 class="page-title">Admin Dashboard</h1>


<%- include('../partials/admin/footer') %>